@font-face {
  font-family: Helvetica Neue;
  src: url(/resources/HelveticaNeue.ttc);
}
button {
  position: absolute;
  width: 387px;
  height: 60px;
  background: #62a1eb;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #317ad0;
}
button:focus {
  background: #1a5dab;
}

#inside-button {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

@media only screen and (max-width: 390px) {
  button {
    position: absolute;
    width: 358px;
    height: 60px;
    background: #62a1eb;
    border-radius: 8px;
    border: none;
  }
}
