@font-face {
  font-family: Helvetica Neue;
  src: url(/resources/HelveticaNeue.ttc);
}

/* landing page */

#redberry-logo-landing {
  position: absolute;
  width: 112px;
  height: 18px;
  left: calc(50% - 112px / 2);
  top: 79px;
}

#clipart-landing {
  position: absolute;
  width: 781px;
  height: 482px;
  left: 589px;
  top: 182px;
}

#landing-button-one {
  left: calc(50% - 387px / 2 - 0.5px);
  top: 787px;
}
#landing-button-two {
  left: calc(50% - 387px / 2 - 0.5px);
  top: 873px;
}

@media only screen and (max-width: 390px) {
  #clipart-landing {
    content: url("/resources/mobile/Group.png");
    position: absolute;
    left: 15.64%;
    right: 15.49%;
    top: 23.93%;
    bottom: 34.72%;
    width: 268.58px;
    height: 349px;
  }

  #landing-button-one {
    left: calc(50% - 358px / 2);
    top: 673px;
  }
  #landing-button-two {
    left: calc(50% - 358px / 2);
    top: 749px;
  }
}

/* employee info page */

#arrow-back {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 70px;
  top: 53px;
  cursor: pointer;
}
#arrow-back:hover {
  left: 67px;
  top: 50px;
  width: 59px;
  height: 59px;
}

#user-info-header {
  position: absolute;
  left: 671px;
  top:75px;
  width: 223px;
  height: 24px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #232323;
}

#leptop-info-header {
  position: absolute;
  width: 289px;
  height: 24px;
  right: 671px;
  top: 75px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #232323;
}

#line-under-header {
  position: absolute;
  width: 185px;
  height: 0px;
  left: 684px;
  top: 125px;
  border: 1px solid #000000;
  background-color: #000000;
}

#form-background {
  position: absolute;
  height: 790px;
  width: 1226px;
  left: 347px;
  right: 347px;
  top: 157px;
  background: #ffffff;
  border-radius: 18px;
}

#redberry-logo-bottom{
  position: absolute;
width: 75px;
height: 75px;
left: calc(50% - 85px/2 - 0.5px);
top: 980px;
}

#input-tag {
  position: absolute;
  top: 40px;
  left: 174px;
}
#input-tag-two {
  position: absolute;
  top: 40px;
  left: 650px;
}

#input-tag-five{
  position: absolute;
  top: 400px;
  left: 174px;
}

#input-tag-six{
  position: absolute;
  top: 550px;
  left: 174px;
}


#next{
position: absolute;
width: 176px;
height: 60px;
right: 174px;
top: 700px;
}